.Tops .acrive_area .carouse_ads{
	flex:4;
	display: flex;
	flex-direction: column;
	
	margin-left: 5px;
	background-color: yellow;
}

.Tops .acrive_area .carouse_ads .carouse_top{
	position: relative;
	flex:2;
	background-color: blue;
}

.Tops .acrive_area .carouse_ads .carouse_top .kill{
	position: absolute;
	left: 39%;
	bottom: 5%;
}

.Tops .acrive_area .carouse_ads .carouse_top .kill span{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: red;
}

.Tops .acrive_area .carouse_ads .carouse_top .kill span:hover{
	background-color: blue;
}

.Tops .acrive_area .carouse_ads .carouse_top img{
	width: 100%;
	height: 100%;
}

.Tops .acrive_area .carouse_ads .carouse_down{
	flex:1;
	display: flex;
	flex-direction: row;
	background-color: gray;
}

.Tops .acrive_area .carouse_ads .carouse_down img{
	width: 50%;
}

.Tops .acrive_area .jd_user{
	flex:1;
	margin-left: 5px;
	
	display: flex;
	flex-direction: column;
}

.Tops .acrive_area .jd_user .user_cent{
	flex:2;
}

.Tops .acrive_area .jd_user .user_cent .use_nav{
	border-top:1px solid gray; 
	 border-bottom:3px solid gray;
	width: 100%;
	height: 30px;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
}

.Tops .acrive_area .jd_user .user_cent .use_nav p{
	margin-left: 10px;
	line-height:30px; 
	font-size: 12px;
	height: 30px;
	color: gray;
	border-bottom:3px solid gray;

}

.Tops .acrive_area .jd_user .user_cent .use_nav p:hover{
	border-bottom: 3px solid red;
}

.Tops .acrive_area .jd_user .user_cent .use_nav span{
	margin-left: 10px;
	line-height:30px; 
	font-size: 12px;
	height: 30px;
	color: gray;
	
}

.Tops .acrive_area .jd_user .user_cent .use_nav_msg{
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Tops .acrive_area .jd_user .user_cent  .use_nav_msg p{
	margin-top: 10px;
	font-size: 12px;
	color: gray
}

.Tops .acrive_area .jd_user .user_down{
	flex:2;
	background-color: green;
}


